{% extends "layout.html" %}
  
{% block y %}
<div class="delete member" style="background-color: #bcf2cf">
    <h1><small>Welcome</small><span class="font-italic font-weight-bold" style="color: #0d5125"> {{session.username}}</span></h1>
<div class="form-group">
    <div class="text-white">
        <h1>Select the member you want to remove</h1>
      {% from "includes/formhelpers.html" import render_field %}
      <form method="POST" action="">
      <div class = "dropdown">
        <div class="form-group" >
          {{render_field(form.name, class_="form-control")}}
        </div>
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        <br>
        <br>
      
      
        <a class= delete href="{{url_for('addMember')}}"><button type="button">Add member</button></a>
      </form>
      <br>
      <button onclick="history.back()">
        Click here to go back
    </button>
    </div>

     


{% endblock %}
