{% extends "layout.html" %}
  
{% block y %}

<div class="Edit profile">

    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Enter Details </h1>
</div>
{% from "includes/formhelpers.html" import render_field %}
<form method="POST" action="">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.username, class_="form-control")}}
    </div>
   
     <div class="form-group">
      {{render_field(form.street, class_="form-control")}}
    </div>
     <div class="form-group">
      {{render_field(form.city, class_="form-control")}}
    </div>
     <div class="form-group">
      {{render_field(form.phone, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
      <br>
      <br>
      

  </form>
  <button onclick="history.back()">
    Click here to go back
  </button>
{% endblock %}
