<!DOCTYPE html>

<html lang="en">

<head>
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<title> PEP GYM </title>
	<style>
		ul {
			opacity: 1;
			transition: opacity 500ms;
		}

		ul.hide {
			opacity: 0;
		}

		#hideme {
			width: 400px;
			height: 30px;
			background-color: red;
			animation-name: example;
			animation-duration: 4s;
		}

		@keyframes example {
			from {
				background-color: rgb(219, 93, 20);
			}

			to {
				background-color: rgb(241, 207, 11);
			}
		}
	</style>


</head>

<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul id="hideme" class=flashes>
		{% for message in messages %}
		<li><strong>{{ message }}</strong></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block y %}
	{% endblock %}
	<script>
		setTimeout(function () {
			document.getElementById('hideme').className = 'hide';
		}, 3000);
	</script>
</body>

</html>