{% extends "layout.html" %}

{% block y %}
<div class="view details" style="background-color: #bcf2cf">
    <h1><small>Welcome</small><span class="font-italic font-weight-bold" style="color: #0d5125">
            {{session.username}}</span></h1>

<!DOCTYPE html>
<html>
<body>

<p>Click the button to mark your attendance</p>

<button onclick="getLocation()">Mark Attendance</button>

<p id="attendance"></p>

<script>
var x = document.getElementById("attendance");


function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {

  // x.innerHTML = "Latitude: " + position.coords.latitude +
  //               "<br>Longitude: " + position.coords.longitude;
    
     
  const location = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
        };
        fetch(`http://127.0.0.1:5000/attendance/`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(location),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            .then(function (response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function (data) {
                    console.log(data);
                });
                return response.json();
            })
            .catch(function (error) {
                console.log("Fetch error: " + error);
            });
        console.log(location.latitude, "-----", location.longitude)

}
</script>
<button onclick="history.back()">
  Click here to go back
</button>

</body>
</html>


{% endblock %}