<!DOCTYPE html>
<html>
<body>

<p>Click the button to mark your attendance</p>

<button onclick="getLocation()">Mark Attendance</button>

<p id="attendance"></p>

<script>
var x = document.getElementById("attendance");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {

  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
</script>

</body>
</html>

