{% extends "layout.html" %}

{% block y %}
<div class="view details" style="background-color: #bcf2cf">
    <h1><small>Welcome</small><span class="font-italic font-weight-bold" style="color: #0d5125">
            {{session.username}}</span></h1>

            
    <div class="form-group">
        <div class="text-white">


            {% for row in res %}
            <table>
                <thead>
                    <tr>
                        <th>Equipment Name |</th>
                        <th>Count of Equipments |</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <TR>
                        <TD class="c2">{{ row[0] }} </TD>
                        <TD class="c3">{{row[1]}}</TD>
                        <br>
                    </TR>


                </tbody>
            </table>
      
            {% endfor %}
            <br>
            

            <button onclick="history.back()">
                Click here to go back
            </button>
            </form>

        </div>




        {% endblock %}